:root{
    --primary-colour: #2ecc71;
    --secondary-colour: #27ae60;
    --whitetext:#ffffff;
    --whitealternative:#f4f4f4;
    --greytext:#555555;
    --ashtext:#888;
    --blacktext:#000;
    --blackColor: #333;
}
/*-------------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:focus {outline:none}
html{
    background-color:var(--whitetext);
    color:var(--greytext);
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.clearfix{
zoom:1
}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
}

/*-------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------------------*/

.row{
    max-width: 71.25rem;
    margin: 0 auto;
}
section{
    padding: 5rem 0;
}
.box{
    padding: 1%;
}
/*-------ICONS-------*/
.icon-big{
    font-size: 350%;
    display: block;
    color:var(--primary-colour);
    margin-bottom: 0.625rem;
}
.icon-small{
   display: inline-block;
    width: 1.875rem;
    text-align: center;
    color: var(--primary-colour);
    font-size:120%;
    
    /*secrets to align text and icos*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -0.25rem;
    
}
/*-------LINK-------*/
a:link,
a:visited{
    color: var(--primary-colour);
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 0.0625rem;
    transition: border-bottom 0.2s color 0.2s;
}
a:hover,
a:active{
    color:var(--greytext);
    border-bottom: 1px solid transparent;
}
/*-------------------------------------------------*/
/* HEADINGS */
/*-------------------------------------------------*/
h1,h2,h3{
   font-weight: 300;
   text-transform: uppercase;
   
}
h1{
     margin: 0;
     margin-bottom:1.25rem;
     color: var(--whitetext);
     font-size: 240%;
     word-spacing: 0.25rem;
     letter-spacing: 0.0625rem;
}
h2{
    font-size: 180%;
    word-spacing: 0.125rem;
    text-align: center;
    margin-bottom: 1.875rem;
    letter-spacing: 0.0625rem;
}
h2:after{
    display: block;
    height: 0.125rem;
    background-color: var(--primary-colour);
    content: " ";
    width: 6.25rem;
    margin: 0 auto;
    margin-top: 1.875rem;
}
h3{
    font-size: 110%;
    margin-bottom: 0.9375rem;
}
/*----------PARAGRAPHS--------------*/
.long-copy{
   line-height: 145%; 
    width: 70%;
    margin-left: 15%;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
/*----------ICONS--------------*/

/*-------------------------------------------------*/
/* HEADER */
/*-------------------------------------------------*/
header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(../css/img/donovan-sikaona-pOVVgdfUz8g-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.hero-text-box{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo{
    height: 6.25rem;
    width: auto;
    float: left;
    margin-top: 1.25rem;
}
.main-nav{
    list-style: none;
    float: right;
    margin-top: 3.4375rem;
}
.main-nav li{
    display: inline-block;
    margin-left: 2.5rem;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: var(--whitetext);
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    padding: 0.5rem 0;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid  var(--primary-colour);
}
/*-------------------------------------------------*/
/* BUTTOBS */
/*-------------------------------------------------*/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 0.625rem  1.875rem;
    font-weight: 300;
    border-radius: 12.5rem;
    text-decoration: none;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    color: var(--whitetext);
    background-color: var(--primary-colour);
    border: 1px solid var(--primary-colour);
    margin-right: 0.9375rem;
    transition: background-color 0.5s,border 0.5s, color 0.5s;

}
.btn-ghost:link,
.btn-ghost:visited{
    color: var(--primary-colour);
    border: 1px solid var(--secondary-colour);
}
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active
{
    border: 1px solid var(--secondary-colour);
    background-color: var(--secondary-colour);
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid var(--secondary-colour);
    background-color: var(--secondary-colour);
    color: var(--whitetext);
}
/*-------------------------------------------------*/
/* FEATURES*/
/*-------------------------------------------------*/
.section-features .long-copy{
    margin-bottom: 1.875rem;
}
/*-------------------------------------------------*/
/* MEALS*/
/*-------------------------------------------------*/
.section-meals{
    padding: 0;
}
.meals-showcase{
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo{
    width: 100%;   /*Has same width as parent*/
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.meal-photo img{
opacity: 0.7;
width: 100%;  /*Has same width as parent*/
height: auto;
transform: scale(1.15);
transition: transform 0.5s opacity 0.5s;


}
.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.03);
}
/*-------------------------------------------------*/
/* HOW IT WORKS*/
/*-------------------------------------------------*/
.section-steps{
    background-color: var(--whitealternative);
}
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 1.875rem;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 4.375rem
}
.app-screen{
width: 40%;
}
.works-step{
    margin-bottom: 3.125rem;
}
.works-step:last-of-type{
    margin-bottom: 3.5rem;
}

.works-step div{
    color: var(--primary-colour);
    border: 2px solid var(--primary-colour);
    display: inline-block;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    text-align: center;
    padding: 0.3125rem;
    font-size: 150%;
    float: left;
    margin-right: 1.5625rem;
    vertical-align: middle;
}
.btn-app:link,
.btn-app:visited{
    border: 0;
}

.btn-app img{
height: 2rem;
width: auto;
margin-right: 10px;
}

/*-------------------------------------------------*/
/* CITIES*/
/*-------------------------------------------------*/
.box img{
    width: 100%;
    height: 25vh;
    margin-bottom:0.9375rem;
}
.city-feature{
    margin-bottom:0.3125rem;
}

/*-------------------------------------------------*/
/* TESTIMONIALS*/
/*-------------------------------------------------*/
.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../css/img/bg_5.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top:2.5rem;
}
cite{
    font-size:90%;
    margin-top: 1.5625rem;
    display: block;
}
blockquote:before{
    content: "\201C";
    display: block;
    font-size: 400%;
    position: absolute;
    top: -5px;
    left: -5px;
    top: -0.3125rem;
    left: -0.3125rem;
    color: var(--primary-colour);

        
}

cite img{
    height: 2.8125rem;
    width:2.8125rem;
    border-radius: 50%;
    margin-right: 0.625rem;
    vertical-align: middle;
}
/*-------------------------------------------------*/
/* PLANS/SIGN UP SESSION*/
/*-------------------------------------------------*/
.section-plans{
    background-color: var(--whitealternative);
}
.plan-box{
    background-color: var(--whitetext);
    border-radius: 0.3125rem;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #e3e3e3;
}
.plan-box div{
    padding: 0.9375rem;
    border-bottom: 1px solid #e8e8e8;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 0.625rem;
    font-weight: 300;
    color: var(--primary-colour);
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-price-meal{
    font-size: 80%;
    font-weight: 100;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 0.3125rem 0;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
}
.plan-box div:last-child{
    text-align: center;
    border: 0;
}

/*-------------------------------------------------*/
/* CONTACT FORM*/
/*-------------------------------------------------*/
.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 0.4375rem;
    border-radius: 0.1875rem;
    border: 1px solid #ccc;
}
textarea{
    height: 6.25rem;
}
input[type=checkbox]{
    margin:0.625rem 0.3125 0.625rem 0;
}

/*-------------------------------------------------*/
/* FOOTER*/
/*-------------------------------------------------*/

footer{
    background-color: #333;
    padding: 3.125rem;
    font-size: 80%;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-icons{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 1.25rem;
}
.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}
.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
   transition: color 0.2s; 
}
.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-twitter:hover{
    color: #00aecd;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #517fa4;
}

footer p{
   color: #888; 
    text-align: center;
    font-size: 90%;
    margin-top: 1.875rem;
}

























